.text-alignment{
    margin: 15%;
    animation: fadeIn 3s;

   
}
.text-alignment h2{
    font-weight: 500;
    color: rgb(255 22 31);
    font-size:max(5.5vw,22px) ;

}

.text-alignment p{
    margin-top: 10px;
    color: white;
    font-size: 23px;
}
.menu-btn{
    margin-top: 14px;
}
.text-alignment button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 5px 10px;
    background-color: white;
    font-size: max(1vw,8px);
    border-radius: 15px;
}
