.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557E;
    font-size: 18px;
}

.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557E;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-right img:hover {
    filter: brightness(0) saturate(100%) invert(36%) sepia(89%) saturate(512%) hue-rotate(331deg) brightness(100%) contrast(102%); 
}
.navbar-search-icon {
    position: relative;
}

.navbar-right img {
    height: 3vw;
}
.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #FF4C24;
    border-radius: 5px;
    top: 8px;
    right: 28px;
}

.navbar-right button {
    background: transparent;
    font-size: 16px;
    color: #49557E;
    border: 1px solid;
    padding: 5px 23px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-right button:hover {
    border-color: #FF4C24;
    color: #FF4C24;

}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }
    .navbar-search-icon .dot {
        position: absolute;
        min-width: 8px;
        min-height: 8px;
        background-color: #FF4C24;
        border-radius: 5px;
        top: 3px;
        right: 11px;
    }
    .navbar-right img {
        height: 9vw;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 25px;
        font-size: 12px;
        position: relative;
        top: 10px;

    }

    .navbar-right {
        gap: 20px;

    }

    .navbar-search-icon .dot {
        position: absolute;
        min-width: 8px;
        min-height: 8px;
        background-color: #FF4C24;
        border-radius: 5px;
        top: 3px;
        right: 11px;
    }

    .navbar-right img {
        height: 7vw;
    }

    .navbar-right button {
        font-size: 15px;
        padding: 3px 15px;
    }
}

@media (max-width:750px) {
    /* .navbar-menu {
        display: none;
    } */
}