/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.hello{
  display: flex;
  justify-content: center;
  margin: 20px;

}

.todo-item {
  display: flex;
  justify-content: space-between;
  width: 450px; 
  margin-bottom: 10px; 
}

h5 {
  word-wrap: break-word;
  max-width: 70%; 
}

.delete-button {
  width: 80px; 
  height: 40px;
}
.edit-button{
  position: fixed;
  right: 31%;
  width: 80px;
  height: 40px; 

}

.item-class{
  width: 254px;
}
.btn-class{
  position: relative;
  margin-top: 30px;
  left: 10px;
}
.second-class{
  position: absolute;
  top: 113px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
